/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
	width: 100%;
	display: block;
}

div.container {
	max-width: 40em;
	margin: auto;
}

h1 {
	max-width: 7em;
	margin: 1em .5em;
}

nav {
	margin: .5em;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	color: rgb(92, 118, 150);
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 700;
}

h2 {
	font-family: serif;
	color: rgb(92, 118, 150);
	font-weight: 600;
	margin: .2em 0 .2em .1em;
	font-size: 1.8em;
}

aside h2 {
	font-size: 1.2em;
	margin: .3em 0 .3em .2em;
}

article h2 {
	font-size: 2.5em;
	margin-top: 1em;
	margin-bottom: .3em;
}

section.main-story h2 {
	font-size: 2.8em;
}

section.tertiary-story h2 {
	font-size: 1.2em;
	border-top: 1px solid rgb(136, 155, 179);
	padding-top: .5em;
}

p {
	font-family: sans-serif;
	font-weight: 400;
	margin: 0em .3em 2em .3em;
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

section.tertiary-story p {
	line-height: 1em;
}

aside {
	background-color: rgb(204, 207, 251);
	padding: 1.5em .5em;
}

figcaption {
	font-style: italic;
	font-family: sans-serif;
	margin: .5em 0 1em .3em;
	color: rgb(96, 96, 96);
}

footer {
	background-color: rgb(92, 118, 150);
	color: rgb(255, 255, 255);
	padding: .5em;
}

@media only screen and (min-width: 40em) {
	nav ul li {
		display: inline-block;
		margin-right: 1em;
	}
}